.App {
  text-align: center;
  font-family: "Poppins";
}

.navbar {
  position: sticky;
}

.main {
  background-image: url("https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.name {
  font-size: 25px;
  text-transform: uppercase;
}
